<div class="card">
    <h2 class"card-header">Edit Post</h2>
    <form class="card-body" id:"edit-post-form">
        <label for="post-title" class="form-label">Title:</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input"/>

        <label for="post-content" class="form-label">Content:</label>
        <input name="post-content" type="text" value="{{post.content}}" class="form-input"/>

        <button type="submit" class="btn">Update Post</button>

        <button type="sumbit" id="delete-post-btn btn">Delete Post</button>
    </form>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>