<div class="card">
  <h2 class="card-header">Login</h2>
  <form class="card-body" id="login-form">
    <label for="username-login" class="form-label">Username:</label>
    <input class="form-input" type="text" id="username-login" />
     
    <label for="password-login" class="form-label">Password:</label>
    <input class="form-input" type="password" id="password-login" />
      
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="login-link" href="/sign-up">Sign up</a>
  </form>
</div>
<script src="./js/login.js"></script>