<div class="card">
  <div class="card-header">
    <h2>Welcome, {{username}}!</h2>
    <h3>Create a New Post</h3>
  </div>
  <form class="card-body new-post-form" id="new-post-form">
    <label for="post-title" class="form-label">Title:</label>
    <input class="form-input" type="text" id="post-title" name="post-title"/>
    
    <label for="post-content" class="form-label">Content:</label>
    <input class="form-input" type="text" id="post-content" name="post-content" />
     
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<script src="../js/newPost.js"></script>