<div class="card">
    <h2 class"card-header">Signup</h2>

    <form class="card-body signup-form">
        <label for="username-signup" class="form-label">Username:</label>
        <input class="form-input" type="text" id="username-signup"/>
        
        <label for="password-signup" class="form-label">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
    
        <button class="btn btn-primary" type="submit">Signup</button>
        <a class="login-link" href="/login">Log In</a>
    </form>
</div>
<script src="/js/sign-up.js"></script>